
<div class="face-snap-card" [ngClass]="{ snapped: clickSnap === 'Oups, déjà cliqué'}">
    <h2>{{ faceSnap.title }}</h2>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location"> Photo prise à {{ faceSnap.location}}</p>
    <p>{{ faceSnap.createdDate | date:'d/M/YYYY' }}</p>
    <p>

        <button (click)="onClickSnap()">{{ clickSnap }}</button>
        <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)'}">{{ faceSnap.snaps }} 🤙</span>
      
</div>
